.container {
  margin: 0.1389vw; /*2px*/
  border: 0.1389vw solid #302c2d; /*2px*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3.472vw; /*50px 80px */
}
.containerLeft {
  width: 44%;
}
.containerRight {
  height: auto;
}
.HeroTitle {
  margin-bottom: 1.389vw; /*20px*/
}
.HeroDescription {
  margin-bottom: 3.472vw; /*50px*/
}

.frame {
  border: 0.1389vw solid #302c2d; /*2px*/
  height: 100%;
}

.frameOuter {
  border-radius: 22.5694vw 22.5694vw 0px 0px; /*325px 325px 0 0*/
  height: 45.1389vw; /*650px*/
  width: 45.1389vw; /*650px*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.frameInner {
  border-radius: 21.875vw 21.875vw 0px 0px; /*315px 315px 0 0*/
  height: 43.75vw; /*630px*/
  width: 43.75vw; /*630px*/
  background-image: url("../../../public/assets/darksilkmedia__bustling_city_being_transformed_modernized_line__6aed2587-65c7-486d-9811-6996608c6ce0.png");
  background-position: center;
  background-size: cover;
}
