.container {
  width: fit-content;
}
.divider {
  border: 1px #302c2d solid;
  width: inherit;
  margin: 0;
}
.dividerContainer .divider:nth-child(2) {
  margin-top: 2px;
}
.dividerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.hide {
  display: none;
}
.show {
  display: block !important;
}
